.SuccessBloc {
  display: flex;
  width: 300px;
  height: 500px;
  background-color: wheat;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-radius: 20px;
  margin-left: 20px;
  text-align: center;
}

.SuccessImg {
width: 100px;
height: 100px;
margin-top: 30px;
}


.BackButton {
display: flex;
height: 30px;
width: 200px;
justify-content: center;
align-items: center;
cursor: pointer;
border: none;
background: orangered;
color: #fff;
font-family: Arial;
font-size: 15px;
border-radius: 20px;
outline: none;
transition: 0.2s;
margin-bottom: 20px;
}
.BackButton:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 0 darkgray;
}
.BackButton:active {
  transform: translateY(-2px);
  box-shadow: 0 3px 0 darkgray;
}